.primary-color {
	color: #22E;
}

.primary-background {
	background: #22E;
}

.secondary-color {
	color: #22F;
}

.secondary-background {
	background: #12F;
}

.balance {
	font-family: Consolas, monospace;
}

td.balance {
	text-align: right;
}